{% extends "management/base.html" %}

{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="container text-center">
        <br>        
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <h1 class="mt-2">Главная страница</h1>
            <a class="btn btn-block btn-primary" href="/add-report">Добавить отчёт</a>
        </div>

        <div class="col-md-4 col-sm-0">
            <h3>Возможный календарь с расписанием работы работника, с учетом авторизованного. ??? На рассмотрении
        </div>

    


        
    </div>
{% endblock %}