{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}
{% block content %}
    <div class="container text-center border border-dark mb-5">
        <br>        
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h1 class="mt-2">Главная страница</h1>
            {% if request.user.is_authenticated %}
              {% if user.role == 'D' %}
                <h2>Водитель - {{ user.fullname }}</h2>
                <h3><a href="{% url 'send_report' %}">Отправить отчёт</a></h3>
              {% endif %}
              {% if user.role == 'B' %}
                <h2>Бухгалтер - {{ user.fullname }}</h2>
                <h3><a href="{% url 'check_reports' %}">Смотреть отчёты</a></h3>
              {% endif %}
            {% else %}
            <h2>Вы не вошли в систему. <a href="{% url 'login'%} ">Нажмите чтобы войти</a></h2>
            {% endif %}

        </div>
{% endblock %}

