{% extends "management/base.html" %}

{% block title %}В разработке{% endblock %}


{% block content %}

<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Дата</th>
            <th>ФИО</th>
            <th>Транспорт</th>
            <th>Остаток</th>
            <th>Выдано</th>
            <th>Расход</th>
            <th>Пройдено</th>
        </tr>
    </thead>

{% for elm in APP%}
<tbody>
    <tr>1</tr>
    <tr>13.11.2022</tr>
    <tr>Казбеков Дмитрий Ли</tr>
    <tr>Nissan GTR</tr>
    <tr>4.4 л.</tr>
    <tr>10 л.</tr>
    <tr>14.4 л.</tr>
    <tr>98 км.</tr>
</tbody>
{% endfor %}
</table>
</div>
{% endblock %}