{% extends "management/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Отчёт{% endblock %}
{% block content %}

        <div class="container-fluid d-flex justify-content-center align-items-center p-0 ">
            <div class="row border ">
                <div class="col">
                    <form action="/send-report/" method="post" class="mt-3">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn text-white" style="background-color: rgb(119, 179, 84);">
                    </form>
                </div>
            </div>
        </div>
        
            

    <footer class="bg-dark text-center text-white ">
        <h1>footer if we need it</h1>
    </footer>
{% endblock %}