{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <img src="/static/car-icon.png" width="50" height="50">
            <a class="navbar-brand" href="{% url 'homepage' %}">Transport management</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              </ul>

              <ul class="nav navbar-nav navbar-righ">
                {% if not request.user.is_authenticated %}
    ...
                <li class="nav-item">
                    <a class="nav-link btn btn-primary text-light mx-3" href="{% url 'signup' %}">Регистрация</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link btn btn-success text-light mx-3" href="{% url 'login' %}">Войти</a>
                </li>
                </ul>
                {% else %}
                <li class="nav-item">
                  <h5 class="text-light px-2">
                    {% if user.role == 'D' %}
                    Водитель - 
                    {% endif %}
                    {% if user.role == 'B' %}
                    Бухгалтер - 
                    {% endif %}
                    {{ user.fullname }}
                  </h5>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-danger text-light mx-3" href="{% url 'logout' %}">Выйти</a>
                  </li>
                {% endif %}

          </div>
        </div>
      </nav>

        {% block content %}
        {% endblock %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
